@import '../../sass/utils/mixin';

.sectionMakingFuneralWreaths {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 160px;
        position: relative;
    }
}

.wreathsMakingContainer {
    @include mq(desk) {
    }
}

.wreathsMakingDescriptionList,
.wreathsMakingDescriptionListSecond {
    @include mq(desk) {
        display: flex;
        z-index: 2;
        position: static;
    }
}

.wreathsMakingDescriptionList {
    @include mq(desk) {   
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

.wreathsMakingDescriptionListSecond {
    @include mq(desk) {
        justify-content: flex-start;
        margin-bottom: 40px;
    }
}

.wreathsMakingDescriptionList__item {
    @include mq(desk) {
        border-radius: 8px;
        outline: 1px solid var(--secondaryTextColor);
        background-color: var(--cardBlackDark);
        z-index: 2;
    }
}

.wreathsMakingDescriptionList__item:not(:last-child) {
    margin-right: 16px;
}

.wreathsMakingDescriptionList__itemDescription {
    @include mq(desk) {
        width: 288px;
        height: 152px;
        padding: 16px;
    }
}

.makingFuneralWreathsTitle {
    @include mq(desk) {
        font-family: Open Sans SemiBold;
        font-size: 32px;
        line-height: 1.25;
        color: var(--secondaryTextColor);
        padding: 8px;
        text-align: end;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

.fronImgMakingFuneralWreath,
.fronImgMakingFuneralWreathSecond,
.rectangleMakingFuneralWreath,
.blurMakingFuneralWreath {
    @include mq(desk) {
        position: absolute;
        border-radius: 20px;
    }
}

.fronImgMakingFuneralWreath {
    @include  mq(desk) {
        top: 80px;
        left: 120px;
        width: 320px;
        height: 400px;
        z-index: 1;
    }
}

.fronImgMakingFuneralWreathSecond {
    @include mq(desk) {
        top: 346px;
        right: 120px;
        width: 320px;
        height: 400px;
        z-index: 1;
    }
}

.rectangleMakingFuneralWreath {
    @include mq(desk) {
        top: 345px;
        left: 283px;
        width: 794px;
        height: 212px;
        z-index: 1;
    }
}

.blurMakingFuneralWreath {
    @include mq(desk) {
        top: 190px;
        left: 218px;
        width: 774px;
        height: 566px;
    }
}