@import '../../sass/utils/mixin';

.coffins__list {
    margin-left: 20px;
    margin-bottom: 20px;
}

.coffins__listItem {
    font-family: Open Sans Regular;
    color: var(--primaryTextColor);
    list-style: disc;
    margin-bottom: 10px;
}

.coffins__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.coffinsPictureElitePriceList__img {
    width: 125px;

    @include mq(tab) {
        width: 330px;
        height: 220px;
    }

    @include mq(desk) {
        width: 620px;
        height: 400px;
    }
}

.coffins__pictureListItem:hover,
.coffins__pictureListItem:focus {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: zoom-in;
}