@import '../../sass/utils/mixin';

.sectionHero {
    position: relative;
    padding-bottom: 40px;

    @include mq(tab) {}

    @include mq(desk) {
        padding-top: 48px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 0px;
    }
}

.heroImg__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(desk) {
        width: 528px;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

.bgimg {
    background-image: url(../../images/hero/heroBgMobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 494px;

    @include mq(tab) {
        background-image: none;
    }

    @include mq(desk) {
        display: flex;
        justify-content: space-between;
        height: 605px;
        border-bottom: 1px solid var(--secondaryTextColor);
    }
}

.hero__container {
    margin: 0 auto;
    padding: 8px;

    @include mq(desk) {
        width: 528px;
        padding: 16px;
        margin: 0px 0px 40px 0px;
    }
}

.titleHero {
    font-family: Comfortaa Regular;
    font-size: 28px;
    line-height: 1.43;
    color: var(--secondaryTextColor);
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1360px) {
        font-size: 48px;
        line-height: 1.17;
        padding: 8px;
        margin-top: 0px;
    }
}

.titleForHero {
    font-family: Open Sans ExtraBold;
    font-size: 16px;
    line-height: 1.38;
    color: var(--secondaryTextColor);
    margin-bottom: 56px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1360px) {
        font-family: Open Sans Regular;
        font-size: 24px;
        line-height: 1.17;
        padding: 8px;
        margin-bottom: 0px;
    }
}

.hero__image {
    display: none;

    @include mq(desk) {
        display: block;
        width: 590px;
        margin-bottom: 80px;
    }
}

.heroDescription {
    padding: 8px;
    margin-bottom: 40px;

    @include mq(desk) {
        padding: 24px 24px 8px 24px;
    }
}

.lineContainer {
    width: 100%;

    @include mq(desk) {
        display: flex;
        justify-content: space-between;
        width: 528px;
        padding: 0px 24px 16px 16px;
    }
}

.lineImage {
    display: none;

    @include mq(desk) {
        display: block;
    }
}

.blur {
    display: none;

    @include mq(desk) {
        display: block;
        position: absolute;
        top: 234px;
        right: 266px;
        width: 682px;
        height: 566px;
    }
}