@import '../../sass/utils/mixin';

.sectionHero {
  padding-top: 75px;
  padding-bottom: 40px;


  @include mq(tab) {
    padding-top: 180px;
  }

  @include mq(desk) {
    padding-top: 220px;
  }
}

.heroImg__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
        

.bgimg {
  background-image: url(../../images/hero/heroBgMobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 494px;
}

.hero__container {
  width: 275px;
  margin: 0 auto;
  padding: 8px;

  @include mq(tab) {
    width: 700px;
  }
}

.titleHero {

  font-family: Comfortaa Regular;
  font-size: 28px;
  line-height: 1.43;
  color: #D4CEBF;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1360px) {
    font-size: 48px;
    line-height: 1.17;
  }
}

.titleForHero {

  font-family: Open Sans ExtraBold;
  font-size: 16px;
  line-height: 1.38;
  color: #D4CEBF;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.12;
  }

  @media screen and (min-width: 1360px) {
    font-size: 28px;
    line-height: 1.12;
  }
}

