@import '../../sass/utils/mixin';

.sectionHero {
  padding-bottom: 40px;

  @include mq(tab) {
  }

  @include mq(desk) {
    padding-top: 48px;
  }
}

.heroImg__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    width: 528px;
  }
}
        
.bgimg {
  background-image: url(../../images/hero/heroBgMobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 494px;

  @include mq(tab) {
    background-image: none;
  }
}

.hero__container {
  margin: 0 auto;
  padding: 8px;

  @include mq(desk) {
    width: 445px;
    padding: 16px;
    margin: 0;

  }
}

.titleHero {
  font-family: Comfortaa Regular;
  font-size: 28px;
  line-height: 1.43;
  color: var(--secondaryTextColor);
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1360px) {
    font-size: 48px;
    line-height: 1.17;
    padding: 8px;
    margin-top: 0px;
  }
}

.titleForHero {
  font-family: Open Sans ExtraBold;
  font-size: 16px;
  line-height: 1.38;
  color: var(--secondaryTextColor);
  margin-bottom: 56px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1360px) {
    font-size: 24px;
    line-height: 1.17;
    padding: 8px;
    margin-bottom: 0px;
  }
}

