@import '../../sass/utils/mixin';

.sectionHero {
  padding-top: 75px;


  @include mq(tab) {
    padding-top: 180px;
  }

  @include mq(desk) {
    padding-top: 220px;
  }
}

.heroImg__container {
  background-image: url(../../images/hero/heroBgMobile.jpg);
  width: 320px;
  height: 494px;
}

.hero__container {
  width: 264px;
  margin: 0 auto;
  padding: 8px;

  @include mq(tab) {
    width: 700px;
  }
}

.getConsultation {
  background-color: var(--hoverColor);
  color: var(--secondaryTextColor);
  border-radius: 8px;
  border: none;
  padding: 14px 57px;
  width: 288px;

  @include mq(tab) {

  }

  @include mq(desk) {

  }
}