@import '../../sass/utils/mixin';

.sectionAdditionalServices {
  padding-top: 32px;
  padding-bottom: 80px;

  @include mq(tab) {
  }

  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.ritualServices__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {

  }

  @include mq(desk) {
    display: none;
  }
}

.ritualServicesDesktop__container {
  display: none;

  @include mq(desk) {
    display: block;
    position: relative;
    padding-bottom: 204px;
  }

}

.additationContainerFlex {
  display: flex;
  justify-content: flex-end;
}

.ritualServices__title {
  font-family: Open Sans SemiBold;
  font-size: 20px;
  line-height: 1.38;
  text-align: center;
  color: var(--primaryTextColorDark);

  @include mq(tab) {
    font-size: 25px;
  }

  @include mq(desk) {
  }
}

.ritualServices__border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 104px;
  border: 0.5px solid var(--hoverColorDark);
  border-radius: 8px;

  @include mq(tab) {
  }

  @include mq(desk) {
  }
}

.ritualServices__list {
    width: 100%;
    margin-bottom: 24px;
}

.ritualServices__listItem {
  height: 120px;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--cardBlackDark);
}

.ritualServices__listItem:not(:last-child) {
  margin-bottom: 16px;
}

.ritualServices__background {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ritualServices__link {
  font-family: Open Sans Regular;
  font-size: 12px;
  line-height: 1.4;
  position: absolute;
  right: 20px;
  bottom: -9px;
  padding: 10px 20px;
  background-color: var(--cardBlackDark);
  color: var(--secondaryTextColor);
  text-decoration: underline;
}

.additationContainer {
  @include mq(desk) {
    width: 592px;
    margin-top: 47px;
    margin-bottom: 80px;
  }
}

.ritualServices__listItemDesktop {
  @include mq(desk) {
    width: 288px;
    height: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--cardBlackDark);
  }
}

.ritualServices__listDesk {
  
  @include mq(desk) {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
  }
}

.otherAtributicsTitle {
  font-family: Open Sans Regular;
  font-size: 24px;
  line-height: 1.67;
  padding: 8px;
  margin-bottom: 24px;
}

.otherAtributicsList {
  display: flex;
  justify-content: flex-start;
}

.otherAtributicsListItem {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 288px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 8px;
  border: 1px solid var(--hoverColorDark);
  padding-bottom: 48px;
}

.funeralPortraitCard {
  background-image: url(../../images/additionalServices/funeralPortraitCard.jpg);
}

.funeralSetCard {
  background-image: url(../../images/additionalServices/funeralSetCard.jpg);
}

.otherAtributicsListLink:not(:last-child) {
  margin-right: 16px;
}

.otherAtributicsDescription {
  font-family: Open Sans Medium;
  font-size: 20px;
  line-height: 1;
  padding: 4px;
}

.whiteFlowersForSectionAdditionalService {
  position: absolute;
  top: 0px;
  left: 200px;
  width: 400px;
  height: 560px;
  border-radius: 20px;
}

.whiteFlowerForSectionAdditionalService {
  position: absolute;
  bottom: 0px;
  right: 120px;
  width: 400px;
  height: 560px;
  border-radius: 20px;
}

.blurForSectionAdditionalService {
  position: absolute;
  top: 462px;
  left: 526px;
  width: 340px;
  height: 490px;
  border-radius: 20px;
}