@font-face {
  font-family: 'Open Sans Regular';
  src: local('Open Sans'), local('Segoe UI'), local('Arial');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans Medium';
  src: local('Open Sans'), local('Segoe UI'), local('Arial');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans SemiBold';
  src: local('Open Sans'), local('Segoe UI'), local('Arial');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: local('Open Sans'), local('Segoe UI'), local('Arial');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alice Regular';
  src: local('Alice'), local('Georgia');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa Regular';
  src: local('Comfortaa'), local('Trebuchet MS');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa Light';
  src: local('Comfortaa'), local('Trebuchet MS');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa Bold';
  src: local('Comfortaa'), local('Trebuchet MS');
  font-style: normal;
  font-display: swap;
}