.title {

    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1;
    color: #D4CEBF;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.25;
    }

    @media screen and (min-width: 1360px) {
        font-size: 32px;
        line-height: 1.25;
    }
}

.mediumTitle {

    font-family: Open Sans ExtraBold;
    font-size: 20px;
    line-height: 1;
    color: #D4CEBF;


    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.12;
    }

    @media screen and (min-width: 1360px) {
        font-size: 28px;
        line-height: 1.12;
    }
}

.forCardTitle {

    font-family: Open Sans Regular;
    font-size: 16px;
    line-height: 1.38;
    color: #D4CEBF;

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.12;
    }

    @media screen and (min-width: 1360px) {
        font-size: 28px;
        line-height: 1.12;
    }
}

.description {

    font-family: Open Sans Regular;
    font-size: 16px;
    line-height: 1.38;
    color: #D4CEBF;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.38;
    }

    @media screen and (min-width: 1360px) {
        font-size: 16px;
        line-height: 1.38;
    }
}

.secondaryDescription {

    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: #D4CEBF;
    

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.43;
    }

    @media screen and (min-width: 1360px) {
        font-size: 14px;
        line-height: 1.43;
    }
}