.titleHero {
    text-align: center;

    @media screen and (min-width: 320px) {
        font-family: Open Sans SemiBold;
        font-size: 28px;
        line-height: 1.43;
    }

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.17;
    }

    @media screen and (min-width: 1360px) {
        font-size: 48px;
        line-height: 1.17;
    }
}

.title {
    text-align: center;

    @media screen and (min-width: 320px) {
        font-family: Open Sans SemiBold;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.25;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
        font-size: 32px;
        line-height: 1.25;
        margin-bottom: 20px;
    }
}

.titleMedium {
    text-align: center;

    @media screen and (min-width: 320px) {
        font-family: Open Sans ExtraBold;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.12;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
        font-size: 28px;
        line-height: 1.12;
        margin-bottom: 20px;
    }
}

.titleForCard {
    text-align: center;

    @media screen and (min-width: 320px) {
        font-family: Open Sans Regular;
        font-size: 16px;
        line-height: 1.38;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        font-size: 28px;
        line-height: 1.12;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1360px) {
        font-size: 28px;
        line-height: 1.12;
        margin-bottom: 20px;
    }
}

.description {

    @media screen and (min-width: 320px) {
        font-family: Open Sans Regular;
        font-size: 16px;
        line-height: 1.38;
    }

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.38;
    }

    @media screen and (min-width: 1360px) {
        font-size: 16px;
        line-height: 1.38;
    }
}

.descriptionSecondary {

    @media screen and (min-width: 320px) {
        font-family: Open Sans Regular;
        font-size: 14px;
        line-height: 1.43;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.43;
    }

    @media screen and (min-width: 1360px) {
        font-size: 14px;
        line-height: 1.43;
    }
}

.descriptionBtn {

    @media screen and (min-width: 320px) {
        font-family: Open Sans SemiBold;
        font-size: 14px;
        line-height: 1.43;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.43;
    }

    @media screen and (min-width: 1360px) {
        font-size: 14px;
        line-height: 1.43;
    }
}