@import '../../sass/utils/mixin';

.sectionContactsAndMap {
    @include mq(mob) {
        display: none;
    }

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 144px;
        position: relative;
    }
}

.contactsAndMap__container {
    display: flex;
    justify-content: space-between;
}

.contactTitle {
    font-family: Open Sans SemiBold;
    font-size: 32px;
    line-height: 1.25;
    color: var(--secondaryTextColor);
    padding: 8px;
    font-style: normal;
    margin-bottom: 40px;
}

.addressTitle {
    font-family: Open Sans ExtraBold;
    font-size: 16px;
    line-height: 1.38;
    color: var(--primaryTextColorDark);
    padding: 8px;
    font-style: normal;
}

.addressList {
    margin-bottom: 24px;
}

.telDescription,
.addressDescription {
    font-family: Open Sans Regular;
    font-size: 16px;
    line-height: 1.38;
    color: var(--primaryTextColorDark);
    padding: 4px 8px;
    font-style: normal;
}

.contactsMapContainer {
    margin-top: 40px;
}

.mapContainer {
    margin-top: 8px;
    border-radius: 16px;
}

.contactsIcon {
    width: 24px;
    height: 24px;
}

.phoneNumbersContainer {
    display: flex;
    padding: 8px;
    margin-bottom: 16px;
}

.blurAddressAndMap {
    position: absolute;
    width: 320px;
    height: 320px;
    top: 282px;
    left: 400px;
}