@import '../../sass/utils/mixin';

.funeralVases {
    margin-top: -125px;
    padding-bottom: 80px;

    @include mq(desk) {
        display: none;
    }
}

.funeralVasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mq(desk) {

    }
}

.funeralVasesPictureList_img {
    border-radius: 8px;
    border: 1px solid var(--secondaryTextColor);
}

.funeralVasesPictureList {
    display: grid;
    align-items: baseline;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;
}