.sectionFreshFlowersWreathGallery {
    margin-top: -420px;
    padding-bottom: 80px;
}

.freshFlowersWreathGalleryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionFreshFlowersWreathGalleryList {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.sectionFreshFlowersWreathGalleryItem {
    width: 100%;
}