@import '../../sass/utils/mixin';

.coffins__pictureList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
    justify-items: center;

    @include mq(tab) {
        grid-gap: 20px;
    }
}

.coffinsPictureAveragePriceList__img {
    width: 125px;

    @include mq(tab) {
        width: 330px;
        height: 220px;
    }

    @include mq(desk) {
        width: 620px;
        height: 400px;
    }
}