@import '../../sass/utils/mixin';

.sectionRitualServices {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
    }
}

.ritualServicesContainer {
    
    @include mq(desk) {
        position: relative;
        height: 1005px;
        border-bottom: 1px solid var(--secondaryTextColor);
    }
}

.ritualServicesList {
    @include mq(desk) {
        display: flex;
        justify-content: flex-end;
    }
}

.cremationList {
    @include mq(desk) {
        display: flex;
    }
}

.ritualServicesList:first-child {
    @include mq(desk) {
        display: flex;
        justify-content: flex-end;
    }
}

.ritualListTitle {
    @include mq(desk) {
        font-family: Open Sans Regular;
        font-size: 24px;
        line-height: 1.17;
        color: var(--primaryTextColorDark);
        padding: 8px;
        margin-bottom: 24px;
    }
}

.containerRitualService {
    @include mq(desk) { 
        position: relative;
        z-index: 4;
    }
}



.containerCrimationService {
    @include mq(desk) {
        position: absolute;
        top: 600px;
        left: 0;
        z-index: 4;
    }
}

.containerRitualServiceListItem {

    @include mq(desk) {
        position: relative;
        width: 272px;
        min-height: 104px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--hoverColorDark);
        background-color: var(--cardBlackDark);
        border-radius: 8px;
    }
}

.ritualServiceListTitle {

    @include mq(desk) {
        font-family: Open Sans ExtraBold;
        font-size: 16px;
        line-height: 1.38;
        color: var(--primaryTextColorDark);
        padding: 8px;
    }

}

.ritualServiceListLink {
    border: none;
    position: absolute;
    bottom: -9px;
    right: 31px;
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: var(--secondaryTextColor);
    background-color: var(--cardBlackDark);
    padding: 4px 15px;
}

.ritualServiceListItem {
    margin-right: 16px;
}

ul .ritualServiceListItem:last-child {
    margin-right: 0px;
}

.ritualServiceListItemContainer {
    min-height: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: var(--cardBlackDark);
}

.ritualServices__ContainerInfo {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInfo__title {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1;
    color: var(--primaryTextColorDark);
    padding: 8px;
}

.ritualServices__price {
    padding: 8px;
}

.containerInfo__list {
    margin-bottom: 16px;
}

.ritualServices__price,
.containerInfo__listItem {
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: var(--primaryTextColorDark);
}

.containerInfo__listItem {
    padding: 8px 8px 0px 8px;
}

.containerForBtnGetConsultaton {
    margin-bottom: -13px;
}

.sectionRitualServicesBlur,
.sectionRitualServicesFlowers,
.sectionRitualServicesGirlFlowers,
.sectionRitualServicesRectangle {
    position: absolute;
}

.sectionRitualServicesGirlFlowers {
    top: 160px;
    left: 80px;
    width: 400px;
    height: 560px;
    z-index: 2;
}

.sectionRitualServicesFlowers {
    top: 390px;
    right: 80px;
    width: 400px;
    height: 560px;
}

.sectionRitualServicesBlur {
    top: 400px;
    left: 93px;
    width: 682px;
    height: 566px;
}

.sectionRitualServicesRectangle {
    top: 380px;
    left: 281px;
    width: 640px;
    height: 280px;
}