@import '../../sass/utils/mixin';

.funeralVases {
    margin-top: -125px;
    padding-bottom: 80px;
}

.funeralVasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mq(desk) {}
}