@import '../../sass/utils/mixin';

.funeralVases {
    margin-top: -125px;
    padding-bottom: 80px;

    @include mq(desk) {
        display: none;
    }
}

.funeralVasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}