@import '../../sass/utils/mixin';

.ritualCarParkList {
    padding: 20px 0px 24px;
    outline: 1px solid var(--secondaryTextColor);
    border-radius: 8px;
    margin-bottom: 24px;
    background-color: var(--backgroundColorDark);

    @include mq(tab) {
        padding: 30px 10px 30px;
    }
}

.ritualCarParkList__title {
    font-family: Open Sans ExtraBold;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--primaryTextColorDark);
    margin-bottom: 20px;
}

.sliderPhoto {
    margin-bottom: 16px;
}

.ritualCarParkList__name {
    font-family: Open Sans ExtraBold;
    font-size: 16px;
    line-height: 1.38;
    text-align: center;
    color: var(--primaryTextColorDark);
    padding: 4px 8px;

    @include mq(tab) {
        font-size: 25px;
    }
}

.ritualCarParkList__description {
    font-family: Open Sans SemiBold;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    color: var(--primaryTextColorDark);
    padding: 4px 8px;
    margin-bottom: 40px;
}

.carouselButtonCenter {
    width: 58.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.carouselButton {
    background-color: var(--backgroundColorDark);
    border: 1px solid var(--secondaryTextColor);
    border-radius: 16px;
    padding: 11px;
    cursor: pointer;
    
    @include mq(tab) {
        font-size: 25px;
        padding: 10px;
    }
}

.carouselCenterButtonModal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselButtonModal {
    margin: 10px 0px;
    color: var(--primaryTextColor);
    background-color: var(--backgroundColor);
    outline: 1px solid var(--primaryTextColor);
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    border: none;
}

.carouselButtonModal:active {
    color: var(--backgroundColor);
    background-color: var(--primaryTextColor);
    outline: 1px solid var(--primaryTextColor);
}

.carouselButtonModal:first-child {
    margin-right: 30px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modalContent {
    position: relative;
    margin: 39% auto;
    width: 100%;
    max-width: 1000px;
    background-color: var(--backgroundColor);
    border: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        margin: 1% auto;
        width: 100%;
    }
}

.close {
    color: var(--primaryTextColor);
    display: flex;
    font-weight: bold;
    margin-right: 10px;
    justify-content: flex-end;
}

.closeModalIcon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.closeModalIcon:hover,
.closeModalIcon:focus {
    transform: scale(1.2);
    color: red;
    text-decoration: none;
    cursor: pointer;
}