@import '../../sass/utils/mixin';

.sectionCoffinsWreaths {
    margin-top: -150px;
    padding-bottom: 80px;
}

.coffinsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq(desk) {
    
    }

}

.coffinsDescriptionContainer {
    padding: 10px;
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        padding: 20px;
    }
}
