@import '../../sass/utils/mixin';

.sectionFuneralPortraitLink {
    padding-bottom: 320px;

    @include mq(tab) {}

    @include mq(desk) {
     padding-bottom: 140px;
    }
}

.titleFuneralPortrait {
    margin-bottom: 16px;
    text-align: center;
    padding-top: 430px;

    @include mq(desk) {
        padding-top: 0px;
    }
}

.funeralPortrait__container {
    background-image: url(../../images/otherAttributes/FuneralPortraitBackgroundMob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 478px;

    @include mq(desk) {
        background-image: none;
        height: 210px;
    }
}