@import '../../sass/utils/mixin';

.sectionCrossesDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
    }
}

.crossesContainerDesktop {
    @include mq(desk) {
        position: relative;
    }
}

.crossesDescriptionContainer {
    @include mq(desk) {
        width: 692px;
        margin: auto 0 80px auto;
    }   
}

.crossesDecoratinForDescription {
    @include mq(desk) {
        position: absolute;
        top: 0;
        left: 80px;
        width: 400px;
        height: 560px;
        border-radius: 20px;
    }
}