@import '../../sass/utils/mixin';

.sectionPreviewGalleyDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 40px;
        padding-bottom: 160px;
        position: relative;
    }
}

.previewGalleyDesktopContainer {
    @include mq(desk) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    }
}

.previewGalleyDesktopDescriptionContainer {
    @include mq(desk) {
        width: 692px;
    }
}
