@import '../../sass/utils/mixin';

.sectionRitualGoods {
  padding: 32px 0px 32px;

  @include mq(desk) {
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.ritualServicesContainerDesktop {
  display: none;

  @include mq(desk) {
    display: block;
  }
}


.ritualServicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    display: none;
  }
}

.ritualGoodsTitle {

  @include mq(desk) {
    font-family: Open Sans SemiBold;
    font-size: 32px;
    line-height: 1.25;
    color: var(--secondaryTextColor);
    padding: 8px;
    margin-bottom: 40px;
  }
}

.containerForTitle {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo512RitualGoodsDesk {
  width: 42.67%;
  height: 42.67%;
}

.containerForRitualGoodsTitle {
  width: 49.167%;
}

.flowersRitualGoodsDesk {
  position: absolute;
  top: 160px;
  left: 25%;
  width: 33.334%;
}

.ritualGoodsDeskription {
  position: relative;
  z-index: 9;
}