@import '../../sass/utils/mixin';

.sectionRitualGoods {
  padding: 32px 0px 32px;

  @include mq(desk) {
    position: relative;
    display: block;
    padding-top: 80px;
    padding-bottom: 0px;
  }
}

.ritualServicesContainerDesktop {
  display: none;

  @include mq(desk) {
    display: block;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--secondaryTextColor);
  }
}


.ritualServicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(desk) {
    display: none;
  }
}

.ritualGoodsTitle {

  @include mq(desk) {
    font-family: Open Sans SemiBold;
    font-size: 32px;
    line-height: 1.25;
    color: var(--secondaryTextColor);
    padding: 8px;
    margin-bottom: 40px;
  }
}

.containerForTitle {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.logo512RitualGoodsDesk {
  width: 42.67%;
  height: 42.67%;
}

.containerForRitualGoodsTitle {
  width: 49.167%;
}

.flowersRitualGoodsDesk {
  position: absolute;
  top: 158px;
  left: 25%;
  width: 33.334%;
  z-index: 2;
}

.ritualGoodsDeskription {
  position: relative;
  z-index: 9;
}

.ritualGoodsList {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.ritualGoodsListItem {
  position: relative;
  width: 288px;
  height: 254px;
  padding: 8px;
  background-color: var(--cardBlackDark);
  border-radius: 8px;
  outline: 1px solid var(--secondaryTextColor);
  z-index: 2;
}

.rectangleRitualGoodsDesk {
  background-image: url('../../images/ritualGoods/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 8px;
  width: 272px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ritualGoodsListItemTitle {
  font-family: Open Sans ExtraBold;
  font-size: 16px;
  line-height: 1.38;
  text-align: start;
  color: var(--primaryTextColorDark);
  padding: 8px;
}

.blurRitualGoodsDesk {
  position: absolute;
  top: 688px;
  left: 150px;
  border-radius: 20px;
  z-index: 1;
  width: 1060px;
  height: 334px;
}