@import '../../sass/utils/mixin';

.sectionEliteCoffinsDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
    }
}

.eliteCoffinsContainer {
    @include mq(desk) {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 40px;
    }
}

.eliteCoffinsDescriptionContainerWithGallery {
    @include mq(desk) {
        width: 692px;
    }
}

.eliteCoffinsListDesktop {
    @include mq(desk) {
        display: flex;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 40px;
    }
}

.eliteCoffinsListDesktop__item {
    @include mq(desk) {
        width: 320px;
        background-color: var(--cardBlackDark);
        border-radius: 8px;
        outline: 1px solid var(--secondaryTextColor);
        padding: 16px;
    }
}