@import '../../sass/utils/mixin';

.sectionRitualServicesList {
    margin-top: -110px;
    padding-bottom: 80px;
}

.ritualServicesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @include mq(tab) {}
}

.ritualServices__border {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 104px;
    border: 0.5px solid var(--hoverColorDark);
    border-radius: 8px;
    flex-direction: column;

    @include mq(tab) {}

    @include mq(desk) {}
}

.ritualServices__list {
    width: 100%;
}

.ritualServices__listItem {
    min-height: 120px;
    border-radius: 8px;
    padding: 8px;
    background-color: #2b2925;
}

.ritualServices__listItem:not(:last-child) {
    margin-bottom: 16px;
}

.ritualServices__background {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ritualServices__ContainerInfo {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ritualServices__price {
    text-align: center;
}

.ritualServices__btnDetails {
    font-family: Open Sans Regular;
    font-size: 12px;
    line-height: 1.4;
    position: absolute;
    right: 20px;
    bottom: -9px;
    padding: 10px 20px;
    background-color: #2b2925;
    color: var(--secondaryTextColor);
    text-decoration: underline;
    border: none;
}

.viewAllRitualServices {
    width: 83.4%;
    height: 48px;
    border: 1px solid var(--hoverColorDark);
    background-color: transparent;
    color: var(--secondaryTextColor);
    border-radius: 8px;
}