@import '../../sass/utils/mixin';

.sectionCrosses {
    margin-top: -125px;
    padding-bottom: 80px;

    @include mq(desk) {
        display: none;
    }
}

.crossesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @include mq(desk) {
    }
}