@import '../../sass/utils/mixin';

.sectionWreaths {
    margin-top: -125px;
    padding-bottom: 80px;

    @include mq(desk) {
        margin-top: 0px;
        padding-top: 80px;
        padding-bottom: 0px;
    }
}

.wreathsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(desk) {
        display: none;
    }
}

.containerForWreathsDescription {
    @include mq(desk) {
        width: 692px;
    }
}

.wreathsContainerDesktop {
    display: none;

    @include mq(desk) {
        display: block;
    }
}

.wreathsLinkitem {
    height: 288px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    outline: 1px solid var(--secondaryTextColor);

    @include mq(desk) {
        width: 288px;
        outline: 1px solid var(--hoverColorDark);
        align-items: flex-end;
        padding-bottom: 48px;
        text-align: center;
    }
}

.wreathsDescription__list {
    width: 416px;
}

.wreathsDescription__listItems {
    width: 304px;
    border-radius: 8px;
    background-color: var(--cardBlackDark);
    margin-bottom: 16px;
    outline: 1px solid var(--secondaryTextColor);
}

.wreathsLinkitem__title {
    font-family: Open Sans SemiBold;
    font-size: 20px;
    line-height: 1;
    color: var(--primaryTextColorDark);
    padding: 8px;
}

.wreathsDescription__listItemsDescription {
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: var(--primaryTextColorDark);
}

.containerForWreathsList {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.wreathsListLinks {
    width: 616px;
    display: flex;
    justify-content: space-between;
}