@import '../../sass/utils/mixin';

.sectionWreaths {
    margin-top: -125px;
    padding-bottom: 80px;

    @include mq(desk) {
        margin-top: 0px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.wreathsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(desk) {
        display: none;
    }
}

.containerForWreathsDescription {
    @include mq(desk) {
        width: 692px;
    }
}

.wreathsContainerDesktop {
    display: none;

    @include mq(desk) {
        display: block;
    }
}

.wreathsLinkitem {
    height: 288px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    border: 1px solid var(--secondaryTextColor);
}