@import '../../sass/utils/mixin';

.sectionNeedHelp {
  padding-top: 32px;
  padding-bottom: 32px;

  @include mq(desk) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.sectionNeedHelpContainer {
  background-color: var(--cardBlackDark);
  border-radius: 30px;
  padding: 8px;
}

.needHelpTitle {
  font-family: Open Sans SemiBold;
  font-size: 32px;
  line-height: 1.25;
  text-align: center;
  font-style: italic;
  color: var(--primaryTextColorDark);
  padding: 8px;
  margin-bottom: 24px;

  @include mq(desk) {
    margin-bottom: 40px;
  }
}

.sectionNeedHelpContainerList {
  width: 100%;
  padding: 20px;
  border: 1px solid #866929;
  border-radius: 30px;

  @include mq(desk) {
    padding: 40px;
  }
}

.phoneNumberItem {
  font-family: Open Sans ExtraBold;
  font-size: 16px;
  line-height: 1.38;
  color: var(--primaryTextColorDark);
  padding: 5px;

  @include mq(desk) {
    font-size: 24px;
    padding: 10px;
  }
}

.phoneNumberList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: italic;

  @include mq(desk) {
    justify-content: space-between;
    flex-direction: row;
  }
}
