@import '../../sass/utils/mixin';

.header {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: 1px solid var(--primaryTextColor);

  @include mq(tab) {
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 1px solid var(--secondaryTextColor);
  }

}

.header__container {
  display: flex;
  justify-content: space-between;

  @include mq(tab) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


