@import '../../sass/utils/mixin';

.header {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: var(--backgroundColor);
  padding-top: 16px;
  padding-bottom: 16px;
  outline: 1px solid var(--primaryTextColor);

  @include mq(tab) {

  }

}

.header__container {
  display: flex;
  justify-content: space-between;

  @include mq(tab) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
  }
}


