@import '../../sass/utils/mixin';

.menu__list {
    @include mq(mob) {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
    }

    @include mq(tab) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    }
}

.menu__list_link {
  font-family: Open Sans Regular;
  font-size: 16px;
  color: var(--primaryTextColor);
  width: 100%;

  @include mq(desk) {

  }
}

.menu__list_item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

    @include mq(mob-only) {
      border-bottom: 1px solid white;
      padding: 8px;
      }
  
}

.menu__list_item:not(:last-child) {
  @include mq(tab) {
      margin-right: 10px;
    }
 
}

.menu__list_item a:hover,
.menu__list_item a:focus {
    border-bottom: 5px solid var(--primaryTextColor);
    margin-bottom: -5px;
}

.navBar {
    align-items: center;
    display: flex;
    justify-content: center;

    @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: center;
    }
  }
  
  @media screen and (max-width: 768px) {
    .navBar .navigation {
      display: none;
    }
  
    .navBar .mobileNavigation {
      display: flex;
    }
  }
  
  @media (min-width: 769px) {
    .navBar .navigation {
      display: flex;
    }
  
    .navBar .mobileNavigation {
      display: none;
    }
  }

.navBar .mobileNavigation .hamburgerMenu {
    cursor: pointer;
}

.hamburgerMenu {
    width: 42px;
    height: 42px;
    color: var(--primaryTextColor);
    cursor: pointer;
}

.menuList__container {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0px;
}