@import '../../sass/utils/mixin';

.menu__list {
  @include mq(mob) {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }
}

.menu__list_link {
  font-family: Open Sans Regular;
  font-size: 16px;
  color: var(--primaryTextColorDark);
  width: 100%;
}

.menu__list_item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @include mq(mob) {
    border-bottom: 1px solid white;
    padding: 8px;
  }
}

.menu__list_item a:hover,
.menu__list_item a:focus {
  border-bottom: 5px solid var(--primaryTextColor);
  margin-bottom: -5px;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .navBar .navigation {
    display: none;
  }
}

@media (min-width: 768px) {
  .navBar .navigation {
    display: none;
  }

  .navBar .mobileNavigation {
    display: flex;
  }
}

.navBar .mobileNavigation .hamburgerMenu {
  cursor: pointer;
}

.hamburgerMenu {
  width: 42px;
  height: 42px;
  color: var(--primaryTextColor);
  cursor: pointer;
}

.themeMenu {
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menuList__container {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  position: absolute;
  top: 75px;
  left: 0px;

  background: rgba(34, 33, 30, 0.45);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.nav {
  display: flex;
  align-items: center;
}
