@import '../../sass/utils/mixin';

.ritualCarPark {
  margin-top: -65px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 80px;
}

.ritualCarPark__container {
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tab) {
    width: 700px;
  }

  @include mq(desk) {
    width: 1000px;
  } 
}

.ritualCarPark__description {
  font-family: Open Sans Regular;
  font-size: 16px;
  line-height: 1.4;
  padding: 8px;
  color: var(--primaryTextColorDark);
}


.ritualCarParkList {
  padding: 30px 0px;
  margin-bottom: 30px;

  @include mq(tab) {
      padding: 30px 10px 30px;
    }
}
