@import '../../sass/utils/mixin';

.header {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        z-index: 8;
        border-bottom: 1px solid var(--secondaryTextColor);
    }
}

.header__container {
    @include mq(desk) {
        display: flex;
        justify-content: space-between;
    }
}

.menu__list {
    @include mq(desk) {
        width: 840px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 25px;
    }
}

.menu__list_item {

    @include mq(desk) {
        font-family: Open Sans Regular;
        font-size: 16px;
        line-height: 1.38;
        color: var(--primaryTextColorDark);
        padding: 8px 4px;
    }
}