@import '../../sass/utils/mixin';

.footer {
    border-top: 1px solid var(--secondaryTextColor);
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--backgroundColorDark);
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.footerNavList {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--hoverColorDark);
}

.footerNavListItem {
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: var(--secondaryTextColor);
}

.footerNavListItem:not(:last-child) {
    margin-bottom: 8px;
}

.footerNavigation {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.footerNavListLink a li{
    padding: 4px 8px;
}