@import '../../sass/utils/mixin';

.footer {
    border-top: 1px solid var(--secondaryTextColor);
    padding-top: 32px;
    padding-bottom: 32px;

    @include mq(tab) {
        border-top: 1px solid var(--hoverColorDark);
    }

    @include mq(desk) {
        padding-top: 40px;
        padding-bottom: 16px;
    }
}

.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerNavList {
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--hoverColorDark);

    @include mq(tab) {
        border: none;
    }

    @include mq(desk) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 0px;
    }
}

.footerNavListItem,
.addressListItem,
.addressPhoneListItem,
.addressPhoneListItemLast {
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
}

.footerNavListItem,
.addressListItem,
.addressPhoneListItem {
    color: var(--secondaryTextColor);
}


.addressPhoneListItemLast {
    color: var(--primaryTextColorDark);
}

.footerNavListItem {
    padding: 4px 8px;


    @include mq(desk) {
        font-family: Open Sans Regular;
        font-size: 16px;
        line-height: 1.37;
        padding: 8px;
    }


}

.footerNavListItem:not(:last-child) {
    margin-bottom: 8px;
}

.footerNavigation {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include mq(desk) {
        margin-top: 0px;
        width: 912px;
        margin-bottom: 24px;
    }
}

.navigationContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include mq(desk) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.address {
    width: 100%;
    padding-top: 4px;
    font-style: normal;

    @include mq(tab) {
        display: none;
    }
}

.addressTitle {
    font-family: Open Sans SemiBold;
    font-size: 14px;
    line-height: 1.43;
    color: var(--primaryTextColorDark);
    padding: 8px 8px 0px 8px;
}

.footerAllTimeDescription {
    font-family: Open Sans Regular;
    font-size: 14px;
    line-height: 1.43;
    color: var(--secondaryTextColor);
    margin-bottom: 24px;
    padding: 8px;
}

.copyrightDescription {
    font-family: Open Sans Regular;
    font-size: 10px;
    line-height: 2;
    color: var(--secondaryTextColor);

    @include mq(desk) {
        font-family: Open Sans Regular;
        font-size: 14px;
        line-height: 1.43;
    }
}

.copyrightDescriptionContainer {
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include mq(desk) {
        margin-top: 40px;
    }
}

.containerButtonGetConsultation {
    width: 100%;

    @include mq(tab) {
        display: flex;
        justify-content: flex-end;
    }
}

.btnContainer {
    width: 100%;

    @include mq(tab) {
        width: 30%;
    }

    @include mq(desk) {
        width: 20%;
    }
}