@import '../../sass/utils/mixin';

.sectionGalleryForDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 160px;
    }
}

.galleryForDesktopContainer {
    @include mq(desk) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.galleryForDesktopList {
    @include mq(desk) {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        justify-items: center;
    }
}

.galleryForDesktopList__itemImage {
    @include mq(desk) {
        width: 380px;
        height: 380px;
        border-radius: 8px;
    }
}