@import '../../sass/utils/mixin';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.modalContent {
    width: 99%;
    background-color: var(--backgroundColorDark);
    padding: 8px 8px 24px 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: 1px solid var(--primaryTextColor);

    @include mq(tab) {
        max-width: 450px;
    }

    @include mq(desk) {
        width: 700px;
    }
}

.modalImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 16px;

    @include mq(desk) {
        width: 300px;
        height: 300px;
    }
}

.closeModal {
    display: flex;
    justify-content: flex-end;
    color: var(--primaryTextColor);
    margin-bottom: 8px;
}

.closeModalIcon {
    width: 30px;
    height: 30px;
}

.closeModalIcon:hover,
.closeModalIcon:focus {
    color: rgb(255, 0, 0);
}

.modalDescription {
    font-family: Open Sans Regular;
    font-size: 25px;
    text-align: inherit;
    color: var(--primaryTextColor);
    text-align: center;
}

.centerButtonModal {
    width: 55.855%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px auto 0;
}

.buttonModal {
    color: var(--primaryTextColor);
    background-color: var(--backgroundColorDark);
    outline: 1px solid var(--primaryTextColor);
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
    border: none;
}

.buttonModal:active {
    color: var(--backgroundColor);
    background-color: var(--primaryTextColor);
    outline: 1px solid var(--primaryTextColor);
}

.buttonModal:first-child {
    margin-right: 30px;
}