@import '../../sass/utils/mixin';

.sectionFreshFlowersWreathDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.freshFlowersWreathDesktopContainer {
    @include mq(desk) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
}

.freshFlowersWreathDesktopblurSecond {
    width: 400px;
    height: 560px;
    border-radius: 20px;
}

.freshFlowersWreathDesktopContainerDescription {
    width: 692px;
}

.freshFlowersWreathList,
.freshFlowersWreathListSecond {
    display: flex;
}

.freshFlowersWreathList {
    justify-content: space-between;
    margin-bottom: 24px;
}

.freshFlowersWreathListSecond {
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.freshFlowersWreathList__item {
    height: 54px;
    padding: 8px;
    background-color: var(--cardBlackDark);
    border-radius: 8px;
}

.freshFlowersWreathList__item:not(:last-child) {
    margin-right: 30px;
}

.freshFlowersWreathList__itemDescription {
    font-family: Open Sans ExtraBold;
    font-size: 16px;
    line-height: 1.38;
    color: var(--primaryTextColorDark);
    padding: 8px;
}