@import '../../sass/utils/mixin';

.sectionFreshFlowersWreathDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.freshFlowersWreathDesktopContainer {
    @include mq(desk) {
        display: flex;
        justify-content: space-between;
    }
}

.freshFlowersWreathDesktopblurSecond {
    width: 400px;
    height: 560px;
    border-radius: 20px;
}

.freshFlowersWreathDesktopContainerDescription {
    width: 692px;
}