@import '../../sass/utils/mixin';

.sectionFreshFlowersWreathDesktop {
    display: none;

    @include mq(desk) {
        display: block;
        padding-top: 80px;
        padding-bottom: 80px;
    }
}