@import '../../sass/utils/mixin';

.sectionArtificialWreaths {
    margin-top: -150px;
    padding-bottom: 80px;

    @include mq(desk) {
        margin-top: 0px;
        padding-top: 80px;
    }
}

.artificialWreathsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artificialWreathsPhotoContainer {
    width: 100%;
    padding: 8px 8px 24px 8px;
    outline: 1px solid var(--secondaryTextColor);
    border-radius: 8px;
    margin-bottom: 24px;

    @include mq(tab) {
        padding: 30px 10px 30px;
    }
}

.containerForButtons {
    width: 58.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.sliderPhoto {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-bottom: 32px;
}

.buttonNavigation {
    background-color: var(--backgroundColorDark);
    border: 1px solid var(--secondaryTextColor);
    border-radius: 16px;
    padding: 11px;
    cursor: pointer;

    @include mq(tab) {
        font-size: 25px;
        padding: 10px;
    }
}