@import '../../sass/utils/mixin';

.buttonMoreDetails {
    font-family: Open Sans SemiBold;
    font-size: 14px;
    line-height: 1.43;
    color: #D4CEBF;
    border: 1px solid #866929;
    background-color: transparent;
    border-radius: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 83.4%;
    font-family: Open Sans SemiBold;
    font-size: 14px;
    line-height: 1.43;
}